* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 76px;
  background-color: #c93505;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px;
}

.logo {
  width: 100px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.register-btn {
  background: white;
  color: #c93505 !important;
  padding: 10px 18px;
  border-radius: 5px;
}

.hero {
  height: calc(100vh - 76px);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: white;
  font-size: 44px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero p {
  color: white;
  font-size: 22px;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 22px;
  margin-bottom: 40px;
}

.hero-buttons button {
  border: none;
  padding: 18px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.signup-btn {
  background: #d63b08;
  color: white;
}

.order-btn {
  background: #fff7ef;
  color: #1d5acb;
}

.search-box {
  width: 88%;
  background: #fff7ef;
  padding: 18px 22px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #d97858;
}

.cardheader {
  color: #ea440c;
  font-size: 28px;
  margin-bottom: 20px;
}
